@media all and (max-width: 1680px){

    .skill_desc_box{
        width: 13.5vw;
        height: 13.5vw;
    }
}

@media all and (max-width: 1440px){

    .container{
        width: 100%;
        padding: 0 10px;
    }

    .main_nav_box{
        left: 10px;
    }
}

@media all and (max-width: 1330px){
    .clone_coding_article{
    }
}

@media all and (max-width: 1280px){

    .vis_txt_box{
        padding: 150px 5vw;
    }

    #appeal{
        height: 60vw;
    }

    .app_diagram{
        margin: auto 0;
    }

    .apd_box{
        width: 25vw;
    }

    .ad_circle{
        font-size: 16px;
        font-weight: 300;
    }

    .ad_circle.n1{
        width: 10vw;
        height: 10vw;
    }

    .ad_circle.n3{
        width: 7vw;
        height: 7vw;
    }

    .ad_circle.n5{
        width: 18vw;
        height: 18vw;
    }

    .app_txt{
    }

    .app_txt ul li{
        width: 50%;
        border-right: 1px solid #e9e9e9 !important;
        height: 22vw;
    }

    .app_txt ul li:nth-child(2n){
        border-right: 0px !important;
    }

    .app_txt ul li.at_list_img a{
    }

    .app_txt ul li.at_list_img a span{
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0.3s;
        transition: all .3s ease;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .job_introImg{
        width: 450px;
    }

    .job_list{
        width: calc(100% - 450px);
        padding-top: 40px;
    }

    .job_list h2{
        font-size: 48px;
    }

    .job_list .jl_floor1 > li h3{
        font-size: 42px;
    }

    .job_list .jl_floor2 > li{
        font-size: 14px;
    }

    .job_list .jl_floor1 > li span.job_date{
        font-size: 15px;
    }
    
    .skillset_tit{
        box-sizing: border-box;
        padding-right: 20px;
    }

    .skillset_list ul li{
        width: 33.3333%;
        margin-right: 0px;
        margin-bottom: max(3vw, 30px);
    }

    .skillset_list ul li:last-child{
        margin-bottom: max(3vw, 30px);
    }

    .job_desc ul li{
        font-size: 7vw;
    }

    .clone_coding_list{
        padding: 0 10px;
    }

    .clone_coding_article{
        width: calc(33.3333% - 15px);
    }

    .works_list.wide p{
        word-break: break-all;
    }

    .clone_coding_list::after{
        display: none;
    }

    .clone_coding_article a{
        transform: translateX(0);
        opacity: 1;
    }

    .section_header h2{
        font-size: 54px;
        letter-spacing: -4px;
    }
}

@media all and (max-width: 1024px){

    .job_introImg{
        width: 100%;
    }

    .job_introImg_box{
        height: 350px;
    }

    .job_list{
        width: 100%;
    }

    .works_list_txt h3{
    }

    .works_list.wide .works_list_txt h3{
        word-break: keep-all;
    }

    .detail_tabBox{
        width: 540px;
    }

    .dt_img{
        height: 320px;
    }

    .dt_tit{
        padding: 0 25px;
    }

    .dt_tit h3{
        font-size: 32px;
    }

    .dt_desc p{
        font-size: 15px;
    }

    .clone_coding_article{
        width: calc(50% - 16px);
    }

    .cc_article_img{
        height: 250px;
    }

    .cc_article_desc h2{
        font-size: 19px;
        line-height: 1.2;
    }

    .cc_article_desc p{
        font-size: 15px;
    }

    .cc_ori_site a{
        font-size: 16px;
    }

}

@media all and (max-width: 864px){

    section:not(#visual, #skill_set),
    footer{
        padding: 10vw 0 0 0 !important; 
    }

    .visual_swiper .swiper-slide{
    }

    .vss_txt{
        height: auto;
        top: 7%;
    }

    .vss_txt h1{
        font-size: 17vw;
        display: inline;
        line-height: 1.1;
    }

    .vss_txt span{
        font-size: 4vw;
        display: block;
        margin-top: 3vw;
    }

    .vis_txt_box h1{
        font-size: 5.8vw;
    }

    .nav_link.type1{
        height: 32vh;
    }

    .nav_link.type1 a strong{
        font-size: 13vw;
    }

    .nav_link.type2{
        width: 28vw;
        height: 87vh;
    }

    .nav_link.type2 a strong{
        font-size: 14vw;
    }

    .nav_link.type3{
        width: 68vw;
        height: 35vh;
        z-index: 10;
    }

    .nav_link.type3 a strong{
        font-size: 17vw;
    }

    .go_top{
        right: 15px;
        bottom: 15px;
    }

    #appeal{
        height: auto;
    }

    .appeal > div:not(.app_deco){
        width: 100%;
    }

    .app_ad{
        padding: 0px;
        height: 60vw !important;
    }

    .apd_box{
        width: 100%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px 15px;
    }

    .ad_circle{
        width: 18vw !important;
        height: 18vw !important;
        margin: 0 !important;
        background: transparent !important;
        font-size: 18px;
    }

    .ad_circle::after{
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 22vw;
        height: 22vw;
        border-radius: 50%;
        z-index: -1;
        mix-blend-mode: multiply;
    }

    .ad_circle.n1::after{
        background: #00305a;
    }

    .ad_circle.n2::after{
        background: #004b8d;
    }

    .ad_circle.n3::after{
        background: #0074d9;
    }

    .ad_circle.n4::after{
        background: #4192d9;
    }

    .ad_circle.n5::after{
        background: #00305a;
    }

    .apk_box{
        height: auto;
    }

    .app_txt{
        padding: 0;
        top: 45%;
    }

    .app_txt h2{
        text-align: center;
        font-size: max(7.5vw, 25px);
    }

    .app_ani_pic.type2{
        width: 40vw;
        height: 28vw;
    }

    .app_ani_pic.type4{
        width: 45vw;
        height: 55vw;
        top: 29%;
    }

    .job_intro_advt a{
        padding: 25px 15px;
    }

    .job_intro_advt a strong{
        font-size: 24px;
    }

    .job_list h2{
        font-size: 32px;
    }

    .job_list .jl_floor1 > li h3{
        font-size: 28px;
        padding-bottom: 10px;
    }

    .job_list .jl_floor1 > li:first-child{
        margin-bottom: 30px;
    }

    .works_list_box{
        grid-template-columns: 50% calc(50% - 15px);
        grid-gap: 15px;
    }

    .works_list.wide{
        height: 50vw;
        grid-column: 1 / 3;
    }

    .works_list.basic{
        height: 38vw;
    }

    .works_list{

    }

    .go_top{
        transform: scale(0.85);
    }


    .int_inner{
        animation-duration: 10s;
    }

    .clone_coding_list{
        grid-template-columns: repeat(3, 1fr);
    }

    .clone_coding_article.wide{
        grid-column: 1 / 3;
    }

    .clone_coding_article.wide2{
        grid-column: 3 / 5;
    }

}

@media all and (max-width: 768px){

    .vis_txt_box{
        
    }

    .section_header{
        margin-bottom: 25px;
    }

    .section_header h2{
        font-size: 32px;
    }

    .skillset_list ul li{
        width: 50%;
    }

    .ssl_circle{
        width: 140px;
        height: 140px;
        font-size: 13px;
    }

    .works_list.wide{
        grid-column: 1 / 3;
        height: 350px;
    }

    .works_list_txt{
        padding: 4.5vw 3vw;
    }

    .works_list.wide .works_list_txt{
        padding: 100px 25px 40px 25px;
    }

    .wks_btn{
        width: 45px;
        height: 45px;
    }

    .wks_btn *{
        font-size: 22px;
    }

    .cc_article_desc h2{
        font-size: 22px;
        margin-bottom: 15px;
    }

    .clone_coding_list{
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
        justify-content: space-between;
    }
    
    .clone_coding_article{
    }

    .clone_coding_article.wide{
        grid-column: 1 / 3;
    }

    .clone_coding_article.wide{
        max-height: 100%;
    }


    .clone_coding_article.wide2{
        grid-column: 1 / 2;
    }

    .clone_coding_article.wide .cc_article_img.cc_article_img{
        margin: 0 0 30px 0;
        flex: none;
        height: 300px;
    }

    .clone_coding_article.wide .cc_article_img.cc_article_img.type_logo img{
        max-height: 230px;
    }

    .clone_coding_article.wide .cc_article_inner{
        padding-top: 0px;
    }

    .clone_coding_article.wide .cc_article_desc h2{
        font-size: 36px;
    }

    .clone_coding_article.wide .cc_article_desc p{
        font-size: 17px;
    }


}

@media all and (max-width: 680px){

    .nav_link.type1{
        height: 24vh;
    }

    .ad_circle{
        font-size: 15px;
    }

    .app_deco.ad1{
        display: none;
    }

    .app_txt ul li span{
        font-size: 15px;
    }

    .job_list{
        padding: 30px 5px 0 5px;
    }

    .jl_floor2_open{
        display: block;
    }

    .jl_floor2_open.hide{
        display: none;
    }

    .job_list .jl_floor2_box{
        width: 100%;
        float: none;
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .job_list .jl_floor2{
        max-height: 0px;
        overflow: hidden;
    }

    .jl_floor2.active{
        max-height: 9999px;
    }

    .works_detail{
    }

    .dt_close{
        left: calc(100% - 45px);
        top: -60px;
    }

    .detail_tabBox{
        width: calc(100vw - 60px);
        position: static;
    }

    .dt_tit h3{
        font-size: 26px;
    }

    .clone_coding_article{
        width: 100%;
    }

    .footer h2{
        font-size: 7vw;
    }

    .intro_tit h2{
        font-size: 14vw;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 568px){

    .vis_txt_box h1{
        font-size: 7.5vw;
    }

    .apk_box{
        width: 90%;
    }

    .apk_box ul li span{
        font-size: 5.5vw;
    }

    .app_ad{
        height: 80vw !important;
    }

    .job_list .jl_floor1 > li h3{
        font-size: 24px;
    }

    .aab_box div{
        width: 55%;
    }

    .works_list{
        grid-column: 1 / 3;
    }

    .works_list.basic{
        height: 55vw;
    }

    .clone_coding_list{
        display: flex;
        flex-wrap: wrap;
    }

    .clone_coding_article{
        width: 100%;
        height: auto;
        max-height: 9999px;
        margin-bottom: 10px;
    }

    .clone_coding_article:last-child{
        margin-bottom: 0px;
    }

    .clone_coding_article.wide2{
        width: 100%;
    }

    .cc_article_img{
        height: 270px;
    }

}


@media all and (max-width: 480px){

    .main_nav_close button{
        width: 120px;
        height: 120px;
    }

    .app_txt{
    }

    .app_txt ul li{
        height: 220px;
        padding: 10px 6px 6px 10px;
    }

    .app_txt ul li span{
        font-size: 14px;
    }

    .ah_txt_ani span{
        line-height: 1.3;
    }

    .ssl_circle{
        width: 110px;
        height: 110px;
    }

    .detail_tabBox{
        width: calc(100vw - 30px);
    }

    .dt_tit h3{
        font-size: 22px;
    }

    .intro_tit h2{
        font-size: 20vw;
    }

}