@media all and (max-width: 1680px){

    .skill_desc_box{
        width: 13.5vw;
        height: 13.5vw;
    }
}

@media all and (max-width: 1440px){

    .container{
        padding: 0 15px;
    }

    .main_nav_box{
        left: 15px;
    }
}

@media all and (max-width: 1330px){
    .clone_coding_article{
    }
}

@media all and (max-width: 1280px){

    #visual{
        height: 80vh;
    }

    .skillset_tit{
        box-sizing: border-box;
        padding-right: 20px;
    }

    .skillset_list ul li{
        width: 33.3333%;
        margin-right: 0px;
        margin-bottom: max(3vw, 30px);
    }

    .skillset_list ul li:last-child{
        margin-bottom: max(3vw, 30px);
    }

    .job_desc ul li{
        font-size: 7vw;
    }

    .clone_coding_list{
        grid-gap: 15px 25px;
    }

    .works_list.wide p{
        word-break: break-all;
    }

    .clone_coding_list::after{
        display: none;
    }

    .clone_coding_article a{
        transform: translateX(0);
        opacity: 1;
    }

    .section_header h2{
        font-size: 54px;
        letter-spacing: -4px;
    }
}

@media all and (max-width: 1024px){

    #visual{
        height: 68vh;
    }

    .job_desc ul li .job_date{
        width: 15vw;
        height: 15vw;
    }

    .works_list_txt h3{
    }

    .works_list.wide .works_list_txt h3{
        word-break: keep-all;
    }

    .cc_article_desc h2{
        font-size: 19px;
        line-height: 1.2;
    }

    .cc_article_desc p{
        font-size: 15px;
    }

}

@media all and (max-width: 864px){

    section:not(#visual),
    footer{
        padding: 10vw 0 0 0 !important; 
    }

    .visual_swiper .swiper-slide{
    }

    .vss_txt{
        height: auto;
        top: 7%;
    }

    .vss_txt h1{
        font-size: 17vw;
        display: inline;
        line-height: 1.1;
    }

    .vss_txt span{
        font-size: 4vw;
        display: block;
        margin-top: 3vw;
    }

    .nav_link.type1{
        height: 32vh;
    }

    .nav_link.type1 a strong{
        font-size: 13vw;
    }

    .nav_link.type2{
        width: 28vw;
        height: 87vh;
    }

    .nav_link.type2 a strong{
        font-size: 14vw;
    }

    .nav_link.type3{
        width: 68vw;
        height: 35vh;
        z-index: 10;
    }

    .nav_link.type3 a strong{
        font-size: 17vw;
    }

    .go_top{
        right: 15px;
        bottom: 15px;
    }

    .job_list{
        padding: 0 0 10vw 0 !important;
    }

    .job_list ul li{
        width: 100%;
    }

    .job_list ul li:first-child{
        margin-bottom: max(7vw, 30px);
    }

    .works_list_box{
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    }

    .works_list.wide{
        height: 50vw;
        grid-column: 1 / 3;
    }

    .works_list.basic{
        height: 38vw;
    }

    .works_list{

    }

    .go_top{
        transform: scale(0.85);
    }


    .int_inner{
        animation-duration: 10s;
    }

    .clone_coding_list{
        grid-template-columns: repeat(3, 1fr);
    }

    .clone_coding_article.wide{
        grid-column: 1 / 3;
    }

    .clone_coding_article.wide2{
        grid-column: 3 / 5;
    }

}

@media all and (max-width: 768px){

    .section_header{
        margin-bottom: 25px;
    }

    .section_header h2{
        font-size: 32px;
    }

    .skillset_list ul li{
        width: 50%;
    }

    .ssl_circle{
        width: 140px;
        height: 140px;
        font-size: 13px;
    }

    .works_list.wide{
        grid-column: 1 / 3;
        height: 350px;
    }

    .works_list_txt{
        padding: 4.5vw 3vw;
    }

    .works_list.wide .works_list_txt{
        padding: 100px 25px 40px 25px;
    }

    .wks_btn{
        width: 45px;
        height: 45px;
    }

    .wks_btn *{
        font-size: 22px;
    }

    .cc_article_desc h2{
        font-size: 22px;
        margin-bottom: 15px;
    }

    .clone_coding_list{
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
        justify-content: space-between;
    }
    
    .clone_coding_article{
        max-height: 520px;
    }

    .clone_coding_article.wide{
        grid-column: 1 / 3;
    }

    .clone_coding_article.wide{
        max-height: 100%;
    }


    .clone_coding_article.wide2{
        grid-column: 1 / 2;
    }

    .clone_coding_article.wide .cc_article_img.cc_article_img{
        margin: 0 0 30px 0;
        flex: none;
        height: 300px;
    }

    .clone_coding_article.wide .cc_article_img.cc_article_img.type_logo img{
        max-height: 230px;
    }

    .clone_coding_article.wide .cc_article_inner{
        padding-top: 0px;
    }

    .clone_coding_article.wide .cc_article_desc h2{
        font-size: 36px;
    }

    .clone_coding_article.wide .cc_article_desc p{
        font-size: 17px;
    }
}

@media all and (max-width: 680px){

    
    .nav_link.type1{
        height: 24vh;
    }

    #visual{
        height: 60vh;
    }

    .job_desc ul li .job_date{
        width: 20vw;
        height: 20vw;
        font-size: 16px;
    }

    .works_slide_control{
        width: 100%;
        left: 0;
        top: calc(100% - 80px);
        transform: translate(0%, 0);
        justify-content: center;
    }

    .wks_btn{
        width: 65px;
        height: 65px;
        margin: 0 10px;
    }

    .wks_btn *{
        font-size: 32px;
    }

    .clone_coding_article{
        width: 100%;
    }

    .footer h2{
        font-size: 7vw;
    }

    .intro_tit h2{
        font-size: 14vw;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 568px){

    .works_list{
        grid-column: 1 / 3;
    }

    .works_list.basic{
        height: 55vw;
    }

    .clone_coding_article{
        grid-column: 1 / 3;
    }

    .clone_coding_article.wide2{
        grid-column: 1 / 3;
    }

    .cc_article_img{
        height: 270px;
    }

}


@media all and (max-width: 480px){
    #visual{
        height: 55vh;
    }

    .main_nav_close button{
        width: 120px;
        height: 120px;
    }

    .ssl_circle{
        width: 110px;
        height: 110px;
    }

    .intro_tit h2{
        font-size: 20vw;
    }
}