html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --pb_bg-: #6dcbeb;
    --hk_bg-: #3b221d;
    --vote_bg-: linear-gradient(45deg, #754b92, #48b8c2);
    --hs_bg-: #93000e;
    --ddm_bg-: #75c392;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.fixed{
    overflow: hidden;
}

#wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

.eb{
    font-family: 'EB Garamond', serif;
}

.ns{
    font-family: 'Noto Serif KR', serif;
}

.lk{
    font-family: 'Luckiest Guy', cursive;
}

.fr{
    font-family: 'Frank Ruhl Libre', serif;
}

.it{
    font-family: 'Inter', sans-serif;
}

.scroll_up{
    transition: all 0.5s ease-out;
}

.scroll_up2{
    transition: all 1s ease;
}

.scroll_up3{
    transition: all 4s ease;
}

.scroll_up4{
    transition: all 2.5s ease;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

.wide_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 10px;
}


/* visual */

#visual{
    width: 100%;
    height: 100vh;
}

.visual{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
}

.visual_swiper{
    position: relative;
    width: 100%;
    height: 100%;
}

.vss_door_img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    transition: all 2.5s cubic-bezier(.57,.21,.69,1.25);
    transition-delay: 1s;
}

.visual_swiper.active .vss_door_img{
    transition-delay: 2.5s;
}

.vss_door_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vss_door_img.left{
    left: -50%;
}

.swiper-slide-active .vss_door_img.left{
    left: -100%;
    transition: all 2.5s cubic-bezier(.57,.21,.69,1.25);
    transition-delay: 1s;
}

.visual_swiper.active .swiper-slide-active .vss_door_img.left{
    transition-delay: 2s;
}

.vss_door_img.left img{
    left: 50%;
}

.vss_door_img.right{
    right: -50%;
}

.swiper-slide-active .vss_door_img.right{
    right: -100%;
    transition: all 2.5s cubic-bezier(.57,.21,.69,1.25);
    transition-delay: 1s;
}

.visual_swiper.active .swiper-slide-active .vss_door_img.right{
    transition-delay: 2s;
}

.vss_door_img.right img{
    right: 50%;
}

.vss_img{
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: all 5s ease;
}

.swiper-slide-active .vss_img{
    transform: scale(1.1);
    transition: all 10s ease;
}

.vss_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.vss_txt{
    position: absolute;
    left: 50%;
    top: 18%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
}

.vss_txt *{
    color: rgba(0, 0, 0, 0.8);
}

.vss_txt.wht *{
    color: #fff;
}

.vss_txt h1{
    display: inline-block;
    font-size: 9.5vw;
    font-weight: 900;
    text-align: center;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
    letter-spacing: -0.2vw;
    margin-bottom: 1.5vw;
    filter: blur(45px);
    transition: all 2.5s ease;
    transition-delay: 0.3s;
}

.swiper-slide-active .vss_txt h1{
    filter: blur(0px);
    transition: all 2.5s ease;
    transition-delay: 0.3s;
}

.visual_swiper.active .swiper-slide-active .vss_txt h1{
    transition-delay: 1.2s;
}

.vss_txt.wht h1{
    border-bottom-color: rgba(255, 255, 255, 0.4);
}

.vss_txt span{
    font-size: 2.5vw;
    font-weight: 300;
    letter-spacing: -1vw;
    transition: letter-spacing 2.5s ease, opacity 2.5s ease;
    transition-delay: 0.5s;
    opacity: 0;
}

.swiper-slide-active .vss_txt span{
    letter-spacing: -0.1vw;
    transition: all 2.5s ease;
    transition-delay: 2s;
    opacity: 1;
}

.vss_txt.wht span{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
}

/* main_nav_box */

.main_nav_box{
    position: fixed;
    left: calc((100vw - 1440px) / 2);
    bottom: 0px;
    z-index: 9999;
    /* transition: top .6s ease, opacity .6s ease; */
    transition-delay: 0.1s;
    box-shadow: 0px 0px 50px rgba(6, 14, 71, 0.5);
}

/* .main_nav_open.pop_up{
    top: 20px;
    opacity: 1;
} */


.main_nav_button_box{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.main_nav_button_box > button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    box-sizing: border-box;
}

.main_nav_open{
    border-right: 1px solid rgba(0 ,0, 0, 0.15);
    background: #fff;
    font-size: 42px;
    z-index: 2;
}

.main_nav_box button{
    transition: all .3s ease;
}

.main_nav_box.on button,
.main_nav_open:hover{
    background: #002c8a;
}

.main_nav_open span{
    display: block;
    position: absolute;
    left: 50%;
    width: 30px;
    height: 2px;
    background: #000;
    transition: transform .5s ease, opacity 0.5s ease, top 0.5s ease;
    transform-origin: center;
}

.main_nav_open span:first-child{
    top: 25px;
    transform: translate(-50%, 0);
}

.main_nav_box.on .main_nav_open span:first-child{
    top: 34px;
    transform: translate(-50%, 0) rotate(45deg);
    transform-origin: center;
}

.main_nav_open span:nth-child(2){
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
}

.main_nav_box.on .main_nav_open span:nth-child(2){
    transform: translate(-100%, 0%);
    opacity: 0;
    transform-origin: center;
}

.main_nav_open span:last-child{
    bottom: 25px;
    transform: translate(-50%, 0);
}

.main_nav_box.on .main_nav_open span:last-child{
    top: 34px;
    transform: translate(-50%, 0) rotate(-45deg);
    transform-origin: center;
}

.main_nav_box.on button *,
.main_nav_open:hover *{
    background-color: #fff;
}

/* .main_nav_notice{
    box-sizing: border-box;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background: #122090;
} */

.main_nav{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 70px;
    z-index: -1;
    box-shadow: 0px 0px 50px rgba(6, 14, 71, 0.5);
    background: rgba(255, 255, 255, 0.99);
    padding-bottom: 70px;
    width: 255px;
}

.main_nav_box.on .main_nav{
    display: block;
}

#nav{
    width: 100%;
    padding: 20px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

#nav ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#nav ul li a{
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 8px 0px 8px 16px;
    color: #1a1a1a;
    transition: all .3s ease;
}

#nav ul li.on a,
#nav ul li a:hover{
    color: #0044c9;
}


#nav ul li a::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background: #002c8a;
}

/* top */

.go_top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 200;
    border-radius: 50%;
}

.go_top .top_txt{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    margin-bottom: 15px;
}

.go_top .top_txt span{
    font-size: 15px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.gt_rot{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gt_rot_div{
    position: absolute;
    margin: 7%;
    width: 86%;
    height: 86%;
    background: #2e4ea4;
    transform-origin: center;
    border: 2px solid #fff;
    transition: all .3s ease;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

.go_top:hover #gt_rot_div{
    background: #2a2c34;
}

.gt_fix_txt{
    font-size: 17px;
    color: #fff;
    position: relative;
    font-weight: 600;
    z-index: 2;
}

/* intro */

#intro{
    width: 100%;
    padding-top: 140px;
}

.job_list{
    width: 100%;
    padding: 60px 0;
}

.job_list ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job_list ul li{
    position: relative;
    width: 48%;
}

.job_list ul li::after{
    display: block;
    content: "";
    position: absolute;
    right: 37%;
    bottom: -4%;
    transform: skewY(13deg) skewX(25deg);
    width: 8.5vw;
    height: 2.5vw;
    background: #f3f3f3;
    z-index: -1;
}

.jl_box{
    box-sizing: border-box;
    padding: 4.5vw 2.3vw 2.8vw 2.3vw;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
    background: #f3f3f3;
}

.jl_deco{
    position: absolute;
    left: 7%;
    top: -11%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.9vw;
    z-index: 10;
    transform: skewX(-10deg);
    transition: top 0.3s ease;
}

.job_list ul li:hover .jl_deco{
    top: -17%;
}

.jl_deco span{
    display: block;
    width: 1.3vw;
    height: 3.5vw;
    background: #86C8FD;
}

.jl_box h3{
    font-size: max(3vw, 18px);
    font-weight: 500;
    color: #1a1a1a;
    font-weight: 500;
}

.jl_box span{
    display: block;
    font-size: max(1.6vw, 15px);
    margin-top: 1vw;
    text-align: right;
    color: #1a1a1a;
    font-weight: 400;
}

.period{
    position: absolute;
    right: 0;
    top: 107%;
    display: block;
    font-size: max(1.3vw, 14px);
    letter-spacing: -0.05vw;
    color: #999;
    font-weight: 100;
}

/* works */

.section_header{
    margin-bottom: 35px;
    padding-bottom: 10px;
    text-align: center;
    background: #fff;
    z-index: 100;
}

.section_header *{
}

.section_header h2{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    cursor: default;
    user-select: none;
    display: inline-block;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding: 5px 20px;
}

#works{
    width: 100%;
    padding-top: 140px;
}

.works_list_box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

.works_list{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.works_list.basic{
    height: 23vw;
    order: 1;
}

.works_list.wide{
    order: -1;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.works_list.wide::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all .5s ease;
}

.works_list.wide:hover::before{
    opacity: 1;
}

.works_list > a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.works_list_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.works_list.wide .works_list_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.works_list.green:hover .works_list_img{
    background: #2e946e;
}

.works_list.navy:hover .works_list_img{
    background: #1a2842;
}

.works_list.skyblue:hover .works_list_img{
    background: #1b86c0;
}

.works_list.violet:hover .works_list_img{
    background: #4441ce;
}

.works_list.basic .works_list_img::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition-delay: 0.2s;
    transition: all 0.2s ease;
}

.works_list.basic.green .works_list_img::after{
    background: linear-gradient(to top, rgba(46, 148, 110, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(46, 148, 110, 0.4));
}

.works_list.basic.navy .works_list_img::after{
    background: linear-gradient(to top, rgba(26, 40, 66, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(26, 40, 66, 0.4));
}

.works_list.basic.skyblue .works_list_img::after{
    background: linear-gradient(to top, rgba(27, 134, 192, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(27, 134, 192, 0.4));
}

.works_list.basic.violet .works_list_img::after{
    background: linear-gradient(to top, rgba(68, 65, 206, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(68, 65, 206, 0.4));
}

.works_list:hover .works_list_img::after{
    opacity: 0;
}

.works_list_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.2s ease-in-out;
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.works_list:hover .works_list_img img{
    transform: scale(1.03);
    transform-origin: center;
}

.works_list_txt{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2vw 1.6vw;
    box-sizing: border-box;
    z-index: 2;
}

.works_list.wide .works_list_txt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    box-sizing: border-box;
    padding: 2.5vw 2vw;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    transition: all .5s ease;
}

.works_list.wide:hover .works_list_txt{
    top: 42%;
}


.works_list_txt h3{
    display: inline;
    font-size: max(2vw, 20px);
    font-weight: 800;
    letter-spacing: -0.3px;
    line-height: 1.5;
    color: #2a2a2a;
    word-break: keep-all;
    transition: all .2s ease-in-out;
}

.works_list.green .works_list_txt h3{
    color: #2e946e;
    border-bottom: 1px solid rgba(46, 148, 110, 0.4);
}

.works_list.navy .works_list_txt h3{
    color: rgb(26, 40, 66);
    border-bottom: 1px solid rgba(26, 40, 66, 0.4);
}

.works_list.skyblue .works_list_txt h3{
    color: rgb(27, 134, 192);
    border-bottom: 1px solid rgba(27, 134, 192, 0.4);
}

.works_list.violet .works_list_txt h3{
    color: #212063;
    border-bottom: 1px solid rgba(68, 65, 206, 0.4);
}

.works_list:hover .works_list_txt h3{
    color: #fff !important;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.works_list.brown .works_list_txt h3{
    border-bottom: 1px solid transparent;
}

.works_list.brown:hover .works_list_txt h3{
    color: #3b221d !important;
    border-color: #3b221d;
}

.works_list.basic:hover .works_list_txt h3{

}

.works_list.wide h3{
    font-size: max(4.5vw, 22px);
    font-weight: 900;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

.works_list.wide:hover h3{
    color: #2a2a2a !important;
}

.works_list_txt p{
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.3;
    color: #2a2a2a;
    word-break: keep-all;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.works_list:hover .works_list_txt p{
    color: rgba(255, 255, 255, 0.8);
}

.works_list.wide:hover .works_list_txt p{
    color: #2a2a2a;
}

.works_list.wide p{
    font-size: max(1.6vw, 15px);
}

/* clone */

#clone_coding{
    width: 100%;
    padding: 140px 0;
}

.clone_coding{
    width: 100%;
}

.clone_coding_list{
    width: 100%;
    position: relative;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-direction: row;
    gap: 0 26.5px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px 35px;

}

.clone_coding_article{
    order: 1;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
    align-self: stretch;
    border-top: 1px solid #000;
}


.clone_coding_article article{
    width: 100%;
    height: 100%;
}

.clone_coding_article:hover{
}

.clone_coding_article article > a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cc_article_inner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cc_article_img{
    position: relative;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.cc_article_img.toi{
    background: #0e4f97;
}

.cc_article_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all .3s ease;
}

/* .clone_coding_article:hover .cc_article_img img{
    transform: scale(1.1);
    transform-origin: center;
} */

.cc_article_img.type_logo img{
    max-width: 90%;
    max-height: 120px;
    object-fit: contain;
    object-position: center;
}

.cc_article_desc{
    position: relative;
    flex: 1;

    box-sizing: border-box;
    padding: 0 15px;
}

.cc_article_txt{
    width: 100%;
    flex: 1;
}

.cc_article_desc h2{
    display: inline;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    line-height: 1.05;
}

.clone_coding_article:hover .cc_article_desc h2{
    color: #0044c9;
    border-color: #0044c9;
}

.cc_article_desc p{
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.3;
    word-break: keep-all;
    font-weight: 400;
}

.cc_ori_site{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #e0e5ef;
}

.cc_ori_site a{
    position: relative;
    z-index: 3;
    font-size: 15px;
    font-weight: 400;
    background-color: #002c8a;
    color: #fff;
    padding: 0px 17px;
    display: inline-block;
    line-height: 33px;
    border-radius: 0;
    transition: all .5s ease;
}

.cc_ori_site a:hover{
    background-color: #1b204a;
}

/* wide */


.clone_coding_article.wide{
    order: -1;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.clone_coding_article.wide .cc_article_inner{
    padding-bottom: 0px;
}

.clone_coding_article.wide .cc_ori_site{
    order: 2;
    margin: 25px 0;
}

.clone_coding_article.wide .cc_ori_site a{
    font-size: 16px;
    font-weight: 700;
}

.clone_coding_article.wide .cc_article_desc{
    order: 1;
    flex: none;
}

.clone_coding_article.wide .cc_article_desc h2{
    font-size: 54px;
    font-weight: 800;
    letter-spacing: -1px;
}

.clone_coding_article.wide .cc_article_desc p{
    font-size: 22px;
    margin-top: 20px;
}

.clone_coding_article.wide .cc_article_txt{
    text-align: center;
    margin-top: 30px;
}

.clone_coding_article.wide .cc_article_img{
    position: relative;
    order: 3;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.clone_coding_article.wide .cc_article_img img{
    position: absolute;
    left: 0;
    top: 0;
}

.clone_coding_article.wide .cc_article_img.cc_article_img.type_logo img{
    position: static;
    max-height: 300px;
}

/* footer */

#footer{
    width: 100%;
    overflow: hidden;
}

.footer{
    background: #12123b;
    padding: 35px 0;
}

.footer h2{
    font-size: 5.5vw;
    color: #fff;
    text-align: center;
    font-weight: 900;
}