html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
}

:root{
    --pb_bg-: #6dcbeb;
    --hk_bg-: #3b221d;
    --vote_bg-: linear-gradient(45deg, #754b92, #48b8c2);
    --hs_bg-: #93000e;
    --ddm_bg-: #75c392;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.fixed{
    overflow: hidden;
}

#wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

.eb{
    font-family: 'EB Garamond', serif;
}

.ns{
    font-family: 'Noto Serif KR', serif;
}

.lk{
    font-family: 'Luckiest Guy', cursive;
}

.fr{
    font-family: 'Frank Ruhl Libre', serif;
}

.it{
    font-family: 'Inter', sans-serif;
}

.scroll_up{
    transition: all 0.5s ease-out;
}

.scroll_up2{
    transition: all 1s ease;
}

.scroll_up3{
    transition: all 4s ease;
}

.scroll_up4{
    transition: all 2.5s ease;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}


/* visual */

#visual{
    width: 100%;
    height: 100vh;
}

.visual{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
}

.visual::before{
    display: block;
    content: "";
    position: absolute;
    right: -10%;
    top: -2%;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    border: 3px dashed #888;
    animation: vsBf 60s linear infinite;
}

@keyframes vsBf{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}


.main_desc_txt{
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    left: 0;
    height: 33.3333%;
}

.main_desc_txt.n2{
    top: 50%;
    padding-left: 5%;
    transform: translateY(-50%);
}

.main_desc_txt.n3{
    bottom: 0;
}

.main_desc_txt strong{
    position: relative;
    font-size: 8vw;
    display: inline-block;
    letter-spacing: -3.5px;
    font-weight: 700;
} 

.main_desc_txt strong.eb{
    font-weight: 300;
    font-size: 15vw;
    color: rgba(0, 0, 0, 0.03);
    margin-left: -14%;
}

.stair_txt_cont{
    position: absolute;
    right: 5%;
    top: 0;
    height: 100%;
    z-index: 2;
    display: flex;
}

.stair_txt_cont .stair_txt{
    position: relative;
    height: 100%;
    width: 15vw;
}


.stair_txt_cont .stair_txt strong{
    position: absolute;
    font-size: 13vw;
    font-weight: 700;
    left: 50%;
    transform: translate(-50%, 0);
    color: #272932;
    z-index: 5;
}

.stair_txt_cont .stair_txt strong::before{
    display: block;
    content: attr(data-text);
    position: absolute;
    left: -8%;
    top: -50%;
    font-size: 18vw;
    color: rgba(175, 142, 101, 0.25);
    font-weight: 500;
    font-family: 'EB Garamond', sans-serif;
    z-index: -1;
}

.stair_txt_cont .stair_txt.st1 strong{
    top: 67%;
}

.stair_txt_cont .stair_txt.st2 strong{
    top: 50%;
}

.stair_txt_cont .stair_txt.st3 strong{
    top: 29%;
}

.stair_txt_cont .stair_txt.st4 strong{
    top: 9%;
}

.main_txt{
    position: absolute;
    right: 5%;
    bottom: 0%;
    text-align: center;
}

.main_txt h1{
    display: inline-block;
    font-size: 8vw;
    font-weight: 900;
    color: #272932;
}

.main_txt strong{
    position: relative;
    display: inline-block;
    font-size: 4vw;
    font-weight: 100;
}

.main_txt strong::after{
    display: block;
    content: "";
    position: absolute;
    right: -15%;
    bottom: 6%;
    transform: translateY(0%);
    width: 1vw;
    height: 1vw;
    background-color: rgba(175, 142, 101, 1);
    border-radius: 50%;
    animation: mtBounce 3s alternate infinite;
}

@keyframes mtBounce{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0);
    }
}

/* main_nav_open */

.main_nav_open{
    position: fixed;
    left: 50%;
    top: -50px;
    transform: translateX(-50%) scale(0.3);
    z-index: 200;
    /* transition: top .6s ease, opacity .6s ease; */
    transition-delay: 0.1s;
}

.main_nav_open::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: calc(100% + 20ßpx);
    height: calc(100% + 20px);
    background: rgba(246,233,119,0.9);
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: all .3s;
    transform-origin: center;
    overflow: hidden;
}

.main_nav_open:hover::before{
    transform: translate(-50%, -50%) scale(1);
}

/* .main_nav_open.pop_up{
    top: 20px;
    opacity: 1;
} */

.main_nav_open button ion-icon{

}

.main_nav_open.pop_up{
    animation: main_nav_ani linear forwards 1.2s;
    animation-delay: 0.8s;
}

.main_nav_open.pop_up button ion-icon{
    animation: main_nav_ico_ani linear forwards 1.2s;
    animation-delay: 0.8s;
}

@keyframes main_nav_ico_ani{
    0%{
        display: none;
        opacity: 0;
    }

    80%{
        display: none;
        opacity: 0;
    }

    81%{
        display: block;
        opacity: 1;
    }

    100%{
        display: block;
        opacity: 1;
    }
}

@keyframes main_nav_ani{
    0%{
        top: -50px;
        transform: translateX(-50%) scale(0.3);
        pointer-events: none;
    }

    80%{
        top: 25px;
        transform: translateX(-50%) scale(0.3);
        pointer-events: none;
    }

    100%{
        top: 25px;
        transform: translateX(-50%) scale(1);
        pointer-events: all;
    }
}

.main_nav_open button{
    position: relative;
    width: 70px;
    height: 70px;
    background: #08141f;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 2;
}

.main_nav_open button:hover{
    background: #fff;
    color: #1a1a1a;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.main_nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    z-index: 9999;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.main_nav.on{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.main_nav_close{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.main_nav_close::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    border-radius: 50%;
    border: 2px dashed #000;
    pointer-events: none;
    animation: mncRot 30s linear infinite;
    transform-origin: center;
}

@keyframes mncRot{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.main_nav_close button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: #08141f;
    border-radius: 50%;
    transition: background .3s ease;
}

.main_nav_close button:active,
.main_nav_close button:hover
{
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.main_nav_close button span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 1px;
    background-color: #fff;
    transition: transform .5s ease, background .3s ease;
}

.main_nav_close button:active span,
.main_nav_close button:hover span
{
    background-color: #000;
}

.main_nav_close button span:first-child{
    transform: translate(-50%, -50%) rotate(45deg);
}

.main_nav_close button span:last-child{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main_nav_close button:hover span:first-child{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main_nav_close button:hover span:last-child{
    transform: translate(-50%, -50%) rotate(45deg);
}

#nav{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.nav_link{
    position: absolute;
    transition: all .5s ease;
}

.nav_link:hover{
    transform: scale(1.05);
    transform-origin: center;
}

.nav_link a{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5%;
}

.nav_link a strong{
    color: #fff;
}

.nav_link.type1{
    left: 0;
    top: 0;
    width: 85vw;
    height: 15vw;
    background-color: #BFA288;
}

.nav_link.type1 a{
    align-items: center;
}

.nav_link.type1 strong{
    font-size: 10vw;
    font-weight: 700;
}

.nav_link.type2{
    right: 0;
    bottom: 0;
    width: 22vw;
    height: 50vw;
    background: #593527;
}

.nav_link.type2 a{
    justify-content: center;
    align-items: center;
}

.nav_link.type2 a strong{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: -3vw;
}

.nav_link.type3{
    left: 0%;
    bottom: 0;
    width: 60vw;
    height: 21vw;
    background: #1E1E26;
    overflow: hidden;
}

.nav_link.type3 a{
}

.nav_link.type3 a strong{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    font-weight: 900;
    -webkit-text-stroke: 2px #fff;
    color: #fcd821;
}



/* top */

.go_top{
    position: fixed;
    right: 40px;
    bottom: 30px;
    z-index: 200;
    border-radius: 50%;
}

.go_top .top_txt{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    margin-bottom: 10px;
}

.go_top .top_txt span{
    font-size: 15px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.go_top .face_inner{
    position: relative;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    pointer-events: none;
    border-radius: 50%;
    background: rgb(255,201,98);
}

.go_top .face_inner .eye{
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    width: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.go_top .face_inner .eye span{
    position: relative;
    width: 13px;
    height: 22px;
    background: #000;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.2s;
}

.go_top:hover .face_inner .eye span{
    transform: scale(0.85);
}

.go_top .face_inner .mouth{
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 42px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #000;
    box-sizing: border-box;
    z-index: 2;
}

.go_top:hover .face_inner .mouth{
    width: 16px;
    height: 16px;
}

.go_top .face_inner .mouth::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%);
    width: 120%;
    height: 80%;
    background: rgb(255,201,98);
}

.go_top:hover .face_inner .mouth::before{
    display: none;
}

.go_top button{
    cursor: pointer;
}

/* intro */

#intro{
    width: 100%;
    padding: 170px 0;
    background-color: #08141f;
}

.intro{
    width: 100%;
    color: #fcfaf3;
}

.intro_ticker{
    width: 100%;
    overflow: hidden;
}

.int_inner{
    white-space: nowrap;
    animation: ticker1 20s linear infinite;
}

@keyframes ticker1{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}

.intro_ticker ul{
    display: inline-block;
    white-space: nowrap;
}

.intro_ticker ul li{
    display: inline-block;
    text-transform: capitalize;
    font-size: 120px;
    font-weight: 100;
    padding: 0 45px;
}

.intro_tit{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    padding: 70px 0;
    border-top: 1px solid #fcfaf3;
}

.intro_tit h2{
    font-size: 96px;
    font-weight: 900;
}

.intro_tit p{
    font-size: 18px;
    line-height: 1.2;
    word-break: keep-all;
}

.skills{
    width: 100%;
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 2px solid #08141f;
}

.skills ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 84px;
    color: #08141f;
    background: #fcfaf3;
    font-weight: 300;
    letter-spacing: -3px;
    padding: 30px 0;
    border-right: 2px solid #08141f;
}

.skills ul li:first-child,
.skills ul li:nth-child(2){
    width: 25%;
}

.skills ul li:last-child{
    width: 50%;
    border-right: 0px;
}

.job_desc{
    width: 100%;
}

.job_desc ul{
    width: 100%;
}

.job_desc ul li{
    position: relative;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid #fcfaf3;
    padding: 60px;
    color: #fcfaf3;
    font-size: 110px;
    overflow: hidden;
    padding: 60px 6%;
    transition: all .6s ease;
}

.job_desc ul li:hover{
    color: #08141f;
    transition: all .6s ease;
}

.job_desc ul li::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: all .8s cubic-bezier(1,-0.01,.83,.67);
    background: #fcfaf3;
    z-index: -1;
}

.job_desc ul li:hover::after{
    transform: translateY(0);
}

.job_desc ul li .job_date{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 10vw;
    height: 10vw;
    background: #fcfaf3;
    color: #08141f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    letter-spacing: -2px;
    font-weight: 400;
    z-index: 3;
    transition: all .5s ease;
    transition-delay: 0.8s;
}

.job_desc ul li:hover .job_date{
    color: #fcfaf3;
}

.job_desc ul li .job_date::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    transform-origin: center;
    transition-delay: 0.8s;
    transition: all .5s ease;
}

.job_desc ul li:hover .job_date::before{
    transform: translate(-50%, -50%) scale(1);
    background: #08141f;
    transition-delay: 0.8s;
}

/* works */

.section_header{
    margin-bottom: 40px;
    padding-bottom: 10px;
    text-align: center;
    background: #fff;
    z-index: 100;
}

.section_header *{
}

.section_header h2{
    font-size: 62px;
    font-weight: 900;
    text-align: center;
    cursor: default;
    user-select: none;
    display: inline-block;
    letter-spacing: -1px;
    text-transform: uppercase;
    background: #FCDF51;
    padding: 5px 20px;
}

#works{
    width: 100%;
    padding-top: 140px;
}

.works_list_box{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.works_list{
    position: relative;
    box-sizing: border-box;
    padding: 20px 15px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.works_list.wide{
    order: 1;
    grid-row: 1 / 3;
}

.works_list.wide::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(40, 40, 40, 0.4);
    opacity: 0;
    transition: all .5s ease;
}

.works_list.wide:hover::before{
    opacity: 1;
}

.works_list > a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.works_list_img{
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
    overflow: hidden;
}

.works_list.wide .works_list_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.works_list_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease;
}

.works_list:hover .works_list_img img{
    transform: scale(1.08);
    transform-origin: center;
}

.works_list_txt{
    width: 100%;
    flex: 1;
    padding: 0 12px;
}

.works_list.wide .works_list_txt{
    flex: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 170px 30px 60px 30px;
    background: linear-gradient(to top, rgba(40, 40, 40, 1), rgba(0, 0, 0, 0));
    z-index: 3;
}

.works_list.wide .works_list_txt *{
    color: #fff;
}

.works_list_txt h3{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 1.2;
    color: #2a2a2a;
    word-break: keep-all;
}

.works_list.basic:hover .works_list_txt h3{
    color: #13229e;
}

.works_list.wide h3{
    font-size: 36px;
}

.works_list_txt p{
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.3;
    color: #7b7b7b;
    word-break: keep-all;
}

.works_list.wide p{
    font-size: 20px;
}

/* clone */

#clone_coding{
    width: 100%;
    padding: 140px 0;
}

.clone_coding{
    width: 100%;
}

.clone_coding_list{
    width: 100%;
    position: relative;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-direction: row;
    gap: 0 26.5px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px 35px;

}

.clone_coding_article{
    order: 1;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
    align-self: stretch;
    border-top: 1px solid #000;
}


.clone_coding_article article{
    width: 100%;
    height: 100%;
}

.clone_coding_article:hover{
}

.clone_coding_article article > a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cc_article_inner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cc_article_img{
    position: relative;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.cc_article_img.toi{
    background: #0e4f97;
}

.cc_article_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all .3s ease;
}

/* .clone_coding_article:hover .cc_article_img img{
    transform: scale(1.1);
    transform-origin: center;
} */

.cc_article_img.type_logo img{
    max-width: 90%;
    max-height: 120px;
    object-fit: contain;
    object-position: center;
}

.cc_article_desc{
    position: relative;
    flex: 1;

    box-sizing: border-box;
    padding: 0 15px;
}

.cc_article_txt{
    width: 100%;
    flex: 1;
}

.cc_article_desc h2{
    display: inline;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    line-height: 1.05;
}

.clone_coding_article:hover .cc_article_desc h2{
    color: #0044c9;
    border-color: #0044c9;
}

.cc_article_desc p{
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.3;
    word-break: keep-all;
    font-weight: 400;
}

.cc_ori_site{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #e0e5ef;
}

.cc_ori_site a{
    position: relative;
    z-index: 3;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
    display: inline-block;
}

.cc_ori_site a:hover{
    color: #002c8a;
}

/* wide */


.clone_coding_article.wide{
    order: -1;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.clone_coding_article.wide .cc_article_inner{
    padding-bottom: 0px;
}

.clone_coding_article.wide .cc_ori_site{
    order: 2;
    margin: 25px 0;
}

.clone_coding_article.wide .cc_ori_site a{
    font-size: 16px;
    font-weight: 700;
}

.clone_coding_article.wide .cc_article_desc{
    order: 1;
    flex: none;
}

.clone_coding_article.wide .cc_article_desc h2{
    font-size: 54px;
    font-weight: 800;
    letter-spacing: -1px;
}

.clone_coding_article.wide .cc_article_desc p{
    font-size: 22px;
    margin-top: 20px;
}

.clone_coding_article.wide .cc_article_txt{
    text-align: center;
    margin-top: 30px;
}

.clone_coding_article.wide .cc_article_img{
    position: relative;
    order: 3;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.clone_coding_article.wide .cc_article_img img{
    position: absolute;
    left: 0;
    top: 0;
}

.clone_coding_article.wide .cc_article_img.cc_article_img.type_logo img{
    position: static;
    max-height: 300px;
}

/* footer */

#footer{
    width: 100%;
    padding: 35px 0;
    background: #000;
}

.footer h2{
    font-size: 5.5vw;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}